/* LAYOUT */
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
}

.galleryPicture {
    width: 100%;
}

@media (min-width: 800px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(4, auto);
    }

    .galleryPicture {
        display: block;
        width: 100%;
    }
}