.header {
    background: url("../images/mobile/image-header.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 8em;
}

/* TYPOGRAPHY */

.headerTitle {
    font-size: 2.5rem;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
}

/* LAYOUT */
.headerTitle {
    margin-top: 2em;
}

.arrow {
    margin-top: 1.7em;
}

@media (min-width: 800px) {
    .header {
        background: url("../images/desktop/image-header.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        padding-bottom: 30em;
    }

    .headerTitle {
        font-size: 3.5rem;
        margin-top: 2em;
    }

    .arrow {
        margin-top: 16em;
    }
}