/* TYPOGRAPHY */

.testimonialHeading {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #A7AAAD;
}

.testimonialText {
    font-family: "Barlow", sans-serif;
    font-size: 1.125rem;
    color: #5B636D;
    line-height: 32px;
}

.testimonialName {
    font-size: 1.125rem;
    color: #24303E;
}

.testimonialPosition {
    font-family: "Barlow", sans-serif;
    font-size: .875rem;
    font-weight: 600;
    color: #A7AAAD
}

/* LAYOUT */
.testimonialSection {
    background-color: #FFFFFF;
    padding-top: 5em;
}

.testimonialHeading {
    margin-bottom: 4em;
}

.testimonialBox {
    max-width: 327px;
    margin: 0 auto;
}

.testimonialPicture {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-bottom: 1.5em;
}

.testimonialText {
    margin-bottom: 2rem;
}

.testimonialName {
    margin-bottom: .75em;
}

.testimonialPosition {
    margin-top: 0;
    margin-bottom: 6em;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
}

.galleryPicture {
    width: 100%;
}